/* jost-regular - latin */
// @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');


@font-face {
  font-family: 'Cabin';
  // font-style: normal;
  // font-weight: 400;
  // font-display: swap;
  src: url("fonts/cabin.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    // local("Cabin"),
    // url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap') format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  // line-height: 1.4;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: black;
  letter-spacing: .02em;  
}